{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="section  bg">
  <div class="container p-5">
  <div class="row justify-content-center align-items-center login cb m-5">
      <div class="col-md-6  align-middle">
        <div class="side_login my-5 text-white fs-7">
          <form class="mb-4 px-5" method="post">
              {% if error %}
                  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}

              <h1 class="h3 mb-3 font-weight-normal">Login</h1>
              <label for="inputEmail">Email</label>
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control bg-light text-white mb-3" autocomplete="email" required autofocus>
              
              <label for="inputPassword">Password</label>
              <input type="password" name="password" id="inputPassword" class="form-control bg-light text-white mb-3" autocomplete="current-password" required>

              <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
              >
              
                  {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                  See https://symfony.com/doc/current/security/remember_me.html #}

                  <div class="checkbox mb-3">
                      <label>
                          <input type="checkbox" name="_remember_me"> Remember me
                      </label>
                  </div>
            
               
              <input class="btn btn-outline-light fs-7 text mb-2" value="Sign in" type="submit">
             <p class="fs-7 text-dark mt-4">
                    Don't have an account? Please 
                    <a class="text-decoration-none text-white" href="{{ path('register') }}">register</a>
                    OR
                    <a class="text-white text-decoration-none"
                        href="{{ path('hwi_oauth_service_redirect', {'service': 'auth0'}) }}"
                        ><span>Connect with</span><img class="mx-1" src="https://images.ctfassets.net/23aumh6u8s0i/WtIL3D91xLCC14B7qN5y5/eb2995f1c305061449cc5115822dfade/02VeCz0" height="25" />
                    </a>
             </p>
          </form>
            
          </div>
      </div>
      <div class="col-md-6  align-middle">
      <div class="text-white">
          <h2 class="text-white">Join Our Community</h2>
          <p class="fs-7">Are you ready to be challenged? This doesn't go without a reward,
           all you need do is to enter your CGPA and stand a chance to win from us.</p>
      </div>
      </div>
  </div>
  </div>
</div>
{% endblock %}
